.content {
  margin: 15px 0;
  background-color: #f2f5f7;

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    .title {
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
    }

    .buttonAdd {
      margin: 0 30px 15px;
      width: 80px;
      height: 40px;
    }
  }
}
