.content {
  margin: 15px 0;
  background-color: #f2f5f7;
  .contentTitle {
    margin-left: 20px;
    padding-top: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
  }
  .contentTotal {
    margin-top: 20px;
    line-height: 30px;
  }
  .table {
    padding-top: 10px;
  }
}
