.headerTitle {
  margin: 20px 0;
  background-color: #f2f5f7;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    margin-left: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
  .titelLeft {
    display: flex;
    .buttonAdd {
      margin: 0 15px;
    }
    .buttonImport {
      margin: 0 15px;
      height: 40px !important;
    }
  }
}
.content {
  margin: 15px 0;
  background-color: #f2f5f7;
  .contentTitle {
    margin-left: 20px;
    padding-top: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
  }
  .contentTotal {
    margin-top: 20px;
    margin-left: 40px;
    line-height: 30px;
  }
  .table {
    margin-left: 20px;
    padding-top: 20px;
  }
}
.ant-table-thead .ant-table-cell {
  background-color: green;
}